<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/scripts/Validate 1.9.0/jquery.metadata.js")"></script>
    <script src="@Url.Content("~/scripts/Validate 1.9.0/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/scripts/Validate 1.9.0/localization/messages_zh.js")"></script>
    @RenderSection("head", false)
    <script>
        $(document).ready(function () {
            $.metadata.setType("attr", "validate");
            $("form").eq(0).validate();
        });
    </script>
</head>
<body>
    <div>
        <form class="form-horizontal" method="post">
            @Html.AntiForgeryToken()
            @RenderBody()
        </form>
    </div>
</body>
</html>
